.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  background: var(--mauve-3);
  backdrop-filter: blur(0.4rem);
  padding: 1.6rem;
  border-radius: 0.4rem;
  max-width: 42rem;
}

p {
  color: var(--mauve-11);
  font-weight: 700;
}

#text {
  color: var(--mauve-12);
  font-weight: 400;
}

span {
  color: var(--mauve-12);
  font-weight: 600;
}

.genres-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}